<!DOCTYPE html>
<html>
	<head>
		{% load static from staticfiles %}
		<link href="{% static "css/links.css" %}" rel="stylesheet" />
		<link href="{% static "css/header.css" %}" rel="stylesheet" />
		<script src="{% static "js/lightbox-form.js" %}"></script>
		<link href="{% static "css/lightbox-form.css" %}" rel="stylesheet" />
		<link href="{% static "css/main.css" %}" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{% static "js/main.js" %}"></script>
	</head>
	<body bgcolor="darkgrey" text="pink">
		<div id="head" align="center">
			<br />
			<a href="#" class="button ml-algo" id="default">Home</a>
			<a href="#" class="button ml-algo" id="multinomial-nb">MultinomialNB</a>
            <a href="#" class="button ml-algo" id="svm">SVM</a>
            <a href="#" class="button ml-algo" id="decision-tree">Decision Tree</a>
            <a href="#" class="button ml-algo" id="gaussian-nb">GaussianNB</a>
            <a href="#" class="button ml-algo" id="logistic-regression">LogisticRegression</a>
            <a href="#" class="button ml-algo" id="random-forest">RandomForest</a>
            <a href="#" class="button ml-algo" id="gradient-boosting">GradientBoosting</a>
            <a href="#" class="button ml-algo" id="adaboost">AdaBoost</a>
		</div>
		<div id="wrapper">
			<div id="default-graph" class="ml-graph">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Display of accuracy, precision and recall for all classifiers</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/All_8.png" %}" style="width:500px;height:400px;">
				</div>
			</div>

			<div id="multinomial-nb-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{multinomial_nb.accuracy}}	Precision:0.{{multinomial_nb.precision}} Recall:{{multinomial_nb.recall}}	</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/MultiNB.png" %}" style="width:500px;height:400px;">
				</div>
			</div>
			
			<div id="svm-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{svm.accuracy}}	Precision:{{svm.precision}} Recall:{{svm.recall}}</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/svm.png" %}" style="width:500px;height:400px;">
				</div>
			</div>

			<div id="decision-tree-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{decision_tree.accuracy}} Precision:{{decision_tree.precision}} Recall:{{decision_tree.recall}}</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/decision_tree.png" %}" style="width:500px;height:400px;">
				</div>
			</div>

			<div id="gaussian-nb-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{gaussian_nb.accuracy}} Precision:{{gaussian_nb.precision}} Recall:{{gaussian_nb.recall}}</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/gaussianNB.png" %}" style="width:500px;height:400px;">
				</div>
			</div>

			<div id="logistic-regression-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{logistic_regression.accuracy}} Precision:{{logistic_regression.precision}} Recall:{{logistic_regression.recall}}</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/logistic_regression.png" %}" style="width:500px;height:400px;">
				</div>
			</div>

			<div id="random-forest-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{random_forest.accuracy}} Precision:{{random_forest.precision}} Recall:random_forest.recall</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/randomforest.png" %}" style="width:500px;height:400px;">
				</div>
			</div>

			<div id="gradient-boosting-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{gradient_boosting.accuracy}} Precision:{{gradient_boosting.precision}} Recall:{{gradient_boosting.recall}}</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/gradient_boosting.png" %}" style="width:500px;height:400px;">
				</div>
			</div>

			<div id="adaboost-graph" class="ml-graph" style="display: none;">
				<div style="text-align:center;margin-top: 10%;">
					<h2 style="background-color:black; margin-left:20%;margin-right:10%">
						<font face="Segoe Print" color="White"><pre>Accuracy:{{adaboost.accuracy}} Precision:{{adaboost.precision}} Recall:{{adaboost.recall}}</pre>
						</font>
					</h2>
				</div>
				<div id="content" align="center">
					<img src="{% static "img/adaboost.png" %}" style="width:500px;height:400px;">
				</div>
			</div>
		</div>
	</body>
</html>